body {
	margin: 0;
	padding: 0; 
	overflow: visible; 
	background: #EFC9DB;
}

#content {
	font-size: 20px;
	text-align: center;
}

h1, h2, h3 {
	color: #000; 
    font-weight: bold; 
	line-height: 1.25;
	font-family: 'Pacifico', cursive;
}

p {
	font-size: 25px;
	font-family: 'Lobster', cursive;
	font-weight: bold;
}

h1 {
	font-size: 90px; 
    text-align: center;
}

h2 {
	font-size: 50px; 
    text-align: center;
}

.topnav {
	background-color: #EFC9DB; 
	overflow: hidden;
}

.topnav a {
	float: left; 
	color: #000; 
	text-align: center; 
	padding: 16px 16px; 
	text-decoration: none; 
	font-size: 20px; 
	border: 2px solid purple; 
	font-family: 'Pacifico', cursive;
}
.active {
	background-color: #EFC9DB; 
	color: black;
}

.table {
  display: inline-block;
  width: 50%;
  padding: 1px;
  border: 2px;
  border-spacing: 3px;
  margin: 0 auto;
}

table, th, td {
    border: 2px solid purple; 
	padding: 1px; 
	margin: 0 auto;
	font-family: 'Lobster', cursive;
}